services:
  frontend:
    build: ./frontend
    ports:
      - "80:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - VITE_API_BASE_URL=http://10.1.0.32:5000/api
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - /app/node_modules
      - ./backend/uploads:/app/uploads
    environment:
      - CORS_ORIGINS=http://10.1.0.32
      - PUBLIC_BASE_URL=http://10.1.0.32:5000
